{% extends "_base.html" %}
{% block content %}

<div class="body-content">
  <div>
    <h1>About</h1>
    <hr><br>
    <p>It's easy to vote.</p>
    <ol>
        <li>Get a your ballot and a pen</li>
        <li>Make sure you select <strong>Donald Trump</strong> for president.</li>
        <li>Make sure your ballot gets to the end destination safely.</li>
        <li>Only place a vote if you're actually living - never fill out another person's ballot because that's something that only democrats do.</li>
    </ol>
  </div>
</div>

{% endblock %}
