{% extends "_base.html" %}
{% block content %}

<div>
  <h1>IT'S REALLY EASY TO VOTE</h1>
  <hr><br>
  <p>Follow these steps to vote properly in the election this year:</p>
  <ol>
      <li>Make sure you checked Donald Trump in the <strong>president</strong> column.</li>
      <li>Submit your ballot!</li>
      <li>Pray that the democrats don't do some fradulent shit.</li>
      <li>Wait until November 4th, 2020 before you watch the election results.</li>
      <li>On November 4th, 2020 when you wake up, Trump will have won a second term!</li>
      <li>???</li>
      <li>Fucking start PROFITING off the post 2020 economy that will boom better than it ever has before because we don't have a cucked piece of shit libtard president because we actually elected a based individual to lead our country again and not the dementia democrat Joe Biden.</li>
      <li>Make sure you donate the liberal tears to easytovote.org or thedonald.win, they fuel the movement and we need as many as we can get.</li>
  </ol>
</div>

{% endblock %}
